*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
img, video {
  max-width: 100%;
  height: auto;
}
.parent {
  width: 100%;
  padding: 0 15px;   /* optional padding */
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}


body {
    background: linear-gradient(99deg, #061920 100%, #010409 80%, #041C27 100%, #04212E 100%, #052737 100%, #064F7C 100%);
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

/* header */
header{
    position: fixed;
    width: 100%;
    background: #0a373a00;
    z-index: 100;
    padding: 10px 0px;
}
nav{
    top: 0;
    position: sticky;
    z-index: 1000;
     
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.header-cnt {
    display: flex;
    justify-content: space-between;
    /* margin-top: 28px; */
    align-items: center;
}

 .fancy-btn {
  background: linear-gradient(45deg, #02101b5e, #326c7a);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fancy-btn:hover {
  transform: scale(1.1);
  background-color: rgb(23, 91, 100);
  
}


.header2-cnt {
    /* background-color: #fcf4f412; */
    padding: 14px 23px;
    border-radius: 39px;
    /* border: solid 1px #ffffff33; */
    background: rgb(16 80 134 / 6%);
    backdrop-filter: blur(107px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff03;
    /* border-radius: 50px; */
    box-shadow: inset 2px 2px 11px rgb(255 255 255 / 20%), inset -2px -2px 8px rgba(0, 0, 0, 0.3), 1px 2px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.underline-btn {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.underline-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 50%;
  background-color: #1a7b94;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.underline-btn:hover::after {
  transform: translateX(-50%) scaleX(1);
}


.rainbow-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
  background: linear-gradient(270deg, #00ccff5c, #37313d3c, #2aa0fa91, #1b3c5e5c);
  background-size: 600% 600%;
  animation: rainbow 8s ease infinite;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.rainbow-btn:hover {
  transform: scale(1.05);
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 




/* hero */


#banner {
    background-image: url(../images/bg-image.png);
    width: 100%;
    background-size: cover;
    background-position: center left;
    height: 100vh;
    display: flex;
    align-items: center;
}
.hero {
    margin-top: 191px;
    margin: 0;
    height: 105%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.hero h2 {
    color: #C4C4C4;
    font-size: 37px;
    margin-bottom: 24px;
}
.hero h1{
    font-size: 56px;
    font-weight: bold;
    background: linear-gradient(99deg, #4483A7, #A3ADB3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;


}
.hero h3{
    font-family: "Lemonada", cursive;
    font-size: 42px;
    font-weight: 600;
    background: linear-gradient(157deg, #acaa9b, #6c8e9d );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 13px;
}
.hero p{
    color: white;
    /* font-size: 18px; */
    font-weight: 200;
    max-width: 65%;
    /* margin-top: 19px; */
}
 .hero h2,
.hero h1,
.hero h3,
.hero p,
.hire-me-container {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  animation: reveal 0.8s ease forwards;
}

.hero h2 { animation-delay: 0.2s; }
.hero h1 { animation-delay: 0.4s; }
.hero h3 { animation-delay: 0.6s; }
.hero p { animation-delay: 0.8s; }
.hire-me-container { animation-delay: 1s; }

@keyframes reveal {
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.my-image {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUpFade 1s ease forwards 1.2s;
}

@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hire-me-container{
    display: flex;
    align-items: center;
    background: linear-gradient(99deg, #0A5A66, #000000);
    padding: 4px 6px; 
    border-radius: 30px;
    gap: 10px;
    width: fit-content;
    margin-top: 24px;
}
.hire-btn{
    background-color: rgba(128, 137, 139, 1);
    border: none;
    border-radius: 20px;
    padding: 10px 27px;
    font-size: 14px;
    font-weight: 500;
     transition: all 0.3s ease;
}
.hire-btn:hover {
    background: linear-gradient(185deg, #1594809c, #03052f96);
    color: #beb9b9;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
}
.my-image {
    margin-left: 154px;
    position: relative;
    top: 61px;
}
.circle-btn {
    position: absolute;
    left: 440px;
    bottom: 21px;
    animation: rotate 4.4s infinite linear;
}
img.circle-btn {
    width: 91px;
}
/* about */

.about-container {
    background: linear-gradient(45deg, #00000021, #1b68771f);
    border-radius: 30px;
    color: white;
    margin-top: 72px;
    backdrop-filter: blur(10px);
    border: 1.5px solid #ffffff2d;
    box-shadow: 0px 15px 11px 0px #0000002e;
    padding: 10px 5px;
}
.about-image{  
    margin-left: 26px;
    margin-top: 34px;
}
.about-label {
   background: linear-gradient(4deg, #022835, #335472);
    width: 121px;
    border-radius: 44px;
    padding: 10px 23px;
    width: 121px;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 4px 2px rgb(19 5 5 / 30%);
}
.about-desc{
    /* text-align: center; */
    font-size: 17px;
    margin-top: 16px;
}
.about-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 65px; */
    /* margin-right: 93px; */
    justify-content: center;
    padding: 10px;
}
.dwnld-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(357deg, #0d2c2d, #5e727d);
    padding: 8px 19px;
    border-radius: 7px;
    border: 1px solid #25b7d91a;
    font-size: 14px;
    margin-top: 12px;
     transition: all 0.3s ease;
}
.dwnld-btn:hover{
    background: rgba(11, 103, 122, 0.562);
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
    border: none
}
 

.email-tag{
    text-decoration: none;
    color: white;
    margin-top: 14px;
}
.email-icon{
    margin-right: 8px;
}
.social-icons {
    display: flex;
    gap: 19px;
    margin-top: 21px;
   
}
.social-icons i{
    background: linear-gradient(282deg, #03232e, #80a1c0);
    padding: 7px 11px;
    border-radius: 5px;
    border: solid 0.5px #818992;
    /* width: 37px;
    height: 37px; */
    transition: 0.3s ease;
    color: rgba(0, 0, 0, 0.718);
}
.social-icons i:hover{
    transform: translateY(-4px) scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  background: linear-gradient(135deg, #5f95e6, #0a1913);
  border: none;
  color: white;
}



/* skills */
.tool-box:hover {
    transform: scale(1.05);
    box-shadow: inset 1px 1px 4px rgba(245, 245, 245, 0.645), inset 1px 15px 17px rgba(0, 0, 0, -7.7), 2px 1px 8px rgba(0, 0, 0, 3.5);   
    background-color: transparent;
}

.skills-sectn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 78px;
    margin-bottom: 100px;
}
.skills-sectn h1{
    background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 41px;
}
.skills-sectn p{
    font-size: 17px;
}
.sprk-img {
    position: relative;
    top: 154px;
    display: flex;
    justify-content: space-between;
}
.tool-box {
    background-color: #0e0e28;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 149px;
    height: 149px;
    background: #0f0f276b;
    border-radius: 34px;
    box-shadow: inset 0px -1px 25px rgb(0 233 209 / 32%), inset -3px 2px 11px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 255, 255, -1.92);
    transition: all 0.3s ease;
}
.tool-sectn p {
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}
.ps-line{
    position: relative;
}
.ps-line::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 198px;
    background: #100E17;
    background: linear-gradient(167deg, rgba(16, 14, 23, 1) 0%, rgba(17, 69, 84, 1) 65%, rgba(16, 14, 23, 1) 98%);
    left: 0;
}
.ps-line::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 198px;
    background: #100E17;
    background: linear-gradient(167deg, rgba(16, 14, 23, 1) 0%, rgba(17, 69, 84, 1) 65%, rgba(16, 14, 23, 1) 98%);
    right: 0;

}

.tool-sectn{
    max-width: 1078px;
    margin: auto;
}
.divider-1{
    height: 4px;
    background-color: bisque;
    width: 89%;
    margin: auto;
    margin-top: 50px;
    background: #100E17;
    background: linear-gradient(90deg, rgba(16, 14, 23, 1) 0%, rgba(17, 69, 84, 1) 65%, rgba(16, 14, 23, 1) 98%);
    margin-bottom: 50px;

}
/* .divider-2{
    height: 4px;
    background-color: bisque;
    width: 89%;
    margin: auto;
    margin-top: 10px;
    background: #100E17;
    background: linear-gradient(90deg, rgba(16, 14, 23, 1) 0%, rgba(17, 69, 84, 1) 65%, rgba(16, 14, 23, 1) 98%);


} */
/* knowledge */
.knwldg-sctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 154px;
    margin-bottom: 76px;
}
.knwldg-sctn h1{
    background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timeline-cnt{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 19px;
}
.timeline-cnt p {
    font-size: 14px;
}
.rectangle-design {
    width: 55px;
    height: 55px;
    background-color: #0F2232;
    border-radius: 16px;
    /* margin-right: 20px; */
    position: relative;
    overflow: hidden; 
     transform: rotate(45deg); 
}
.rectangle-design::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(125deg, #047291, #0b6d92, #081923, #0A131A, #062735);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: 8px;
}
.timeline-sectn {
    background: rgba(96, 96, 99, 0.1);
    max-width: 900px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 35px;
}
/* .timeline-sectn {
    background: rgb(29 115 139 / 14%);
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} */

.timeline-sectn span {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;   
}
.dot {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    
}
/* service */
.srvc-sectn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 154px;
    margin-bottom: 76px; 
}
.service-box {
    max-width: 1000px;
    margin: auto;
}
.srvc-sectn h1{
    background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-bg {
    background: linear-gradient(181deg, #ffffff8a, #00000045);
    padding: 2px 1px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}
.box-right{
    margin-top: 100px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    /* margin: 13px 85px; */
    background: #101920;
    background: linear-gradient(360deg, #061920 0%, #102229 100%);
    box-shadow: 0px 10px 15px 0px #0000004d;
}
.box p{
    max-width: 300px;
}
.box-desc{
    margin-top: 15px;
}
.box-desc h3{
    font-weight: 600;
    color: rgba(181, 181, 167, 1);
}
.srvc-img{
    margin-top: 10px;
}

/* portfolio */

.portfolio-sectn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 154px;
    margin-bottom: 76px; 
}
.portfolio-sectn h1{
     background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
/* .portfolio-items {
    max-width: 1005px;
    margin: auto;
} */
.portfolio-1 img {
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    border-radius: 15px;
    /* filter: grayscale(1); */
    object-fit: cover;
    object-position: center top;
    
}
.portfolio-1 {
    height: 500px;
    width: 100%;
    /* overflow: hidden; */
    filter: grayscale(1);
    transition: 0.4 all ease;
}
.portfolio-1:hover{
    filter: grayscale(0);
}



.explore-btn {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 27px;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 1;
    top: 56px;
    border-radius: 203px;
}
.explore-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(22 67 86 / 33%);
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 1.2), inset 5px 13px 22px rgba(0, 0, 0, -0.7), 5px 16px 29px rgba(0, 0, 0, 3.5);
    transition: width 0.4s ease;
    color: #f9fbfe;
}
.explore-btn:hover::before {
  width: 100%;
}

.explore-btn:hover {
  color: rgb(255, 252, 252);
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* image caption */

.digital-container{
    background-image: url(../images/digital.png);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: auto; */
    margin-top: 190px;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
    border-radius: 20px;
}
.digitl-cnt h2 {
    font-family: "Judson", serif;
    background: linear-gradient(99deg, #9accd3, #C0BEBE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.digitl-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 47vh;
}
.start-btn {
    color: white;
    margin-top: 10px;
    text-decoration: none;
    padding: 11px 17px;
    border-radius: 100px;
    background: rgb(175 182 188 / 6%);
    backdrop-filter: blur(107px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff03;
    border-radius: 50px;
    padding: 20px 50px;
    cursor: pointer;
    box-shadow: inset 2px 2px 11px rgb(255 255 255 / 20%), inset -2px -2px 8px rgba(0, 0, 0, 0.3), 4px 11px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.start-btn:hover {
    background: rgb(30 113 147 / 56%);
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.2),
    inset 10px 24px 22px rgba(0, 0, 0, 0.3),
    11px 8px 8px rgba(0, 0, 0, 0.5);
    color: black;
}
.divider-2 {
    height: 4px;
    background-color: bisque;
    width: 89%;
    margin: auto;
    margin-top: 48px;
    background: #100E17;
    background: linear-gradient(90deg, rgba(16, 14, 23, 1) 0%, rgba(17, 69, 84, 1) 65%, rgba(16, 14, 23, 1) 98%);
    margin-bottom: 50px;
}
.divider img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    bottom: 74px;
    background: linear-gradient(177deg, #0B2042, #0B1524);
    padding: 15px 15px;
    border-radius: 100px;
    transition: 0.3s ease;
}
.divider img:hover{
    background: rgb(12 136 208 / 24%);
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2),
    0px 2px 10px rgba(0, 0, 0, 0.5);
}

/* footer */
#footer {
    background-image: url(../images/ftr-image.png);
    background-size: cover;
    position: relative;
    bottom: 34px;
}

.ftr-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 20px; */
    height: 72vh;
}
.ftr-desc p {
    color: white;
    font-size: 17px;
}
.ftr-desc h2 {
    max-width: 400px;
    /* gap: 12px; */
    /* display: flex; */
    font-size: 42px;
    font-weight: bold;
    background: linear-gradient(165deg, #2EC2C0, #FFF5F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 21px;
    text-shadow: 2px 9px 5px rgb(19 5 5 / 30%);
}
.ftr-desc span{
    color: white;
    max-width: 350px;
    margin-bottom: 21px;
    font-size: 14px;
}
.divider-3 {
    height: 4px;
    width: 63%;
    background: #100E17;
    background: linear-gradient(222deg, rgb(22 20 31) 0%, rgb(136 184 198) 65%, rgba(16, 14, 23, 1) 98%);
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.call-info p {
    font-size: 14px;
    margin: auto;
}
.call-info {
    display: flex;
    gap: 20px;
}
.call {
    background-color: rgb(13 68 83);
    padding: 10px 14px 7px;
    border-radius: 6px;
    /* margin: 3px 8px 5px 5px; */
    width: 43px;
    height: 43px;
}
.call a{
    color: white;
}
.email-info{
    display: flex;
    gap: 20px;
}
.email-info p{
     font-size: 14px;
    margin: auto;

}
.email-text{
    text-decoration: none;
    color: white;
    margin: auto;
}
.email {
    background-color: rgb(13 68 83);
    padding: 10px 14px 7px;
    border-radius: 6px;
    width: 43px;
    height: 43px;
}
.email a{
    color: white;
}
.location-info {
    display: flex;
    gap: 20px;
}
.location-info p{
    font-size: 14px;
    margin: auto;
}
.location {
    background-color: rgb(13 68 83);
    padding: 10px 16px 7px;
    border-radius: 6px;
    width: 43px;
    height: 43px;
}
.location a{
    color: white;
}
.social-icons2 i {
    /* background: linear-gradient(253deg, #0D485C, #0D3255); */
    padding: 5px 9px;
    border-radius: 5px;
    border: solid 0.5px #14427A;
    color: white;
}
.social-icons2 i {
    /* background: linear-gradient(253deg, #0D485C, #0D3255); */
    padding: 7px 8px;
    border-radius: 5px;
    border: solid 0.5px #14427A;
    color: white;
    width: 32px;
    height: 30px;
}
.contact-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1px 11px; */
    justify-content: space-between;
    /* margin: auto; */
    /* max-width: 200px; */
}
.contact-form label {
  margin-top: 15px;
  font-size: 14px;
}
.contact-container {
    /* background: rgba(255, 255, 255, 0.05); */
    background: rgb(22 22 22 / 6%);
    backdrop-filter: blur(107px);
    box-shadow: inset 2px 2px 11px rgb(249 246 246 / 20%), inset -2px -2px 8px rgba(0, 0, 0, 0.3), 1px 2px 8px rgba(0, 0, 0, 0.4);
    /* border: 1px solid #00bcd4; */
    border-radius: 20px;
    padding: 30px;
    max-width: 533px;
    backdrop-filter: blur(102px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
}
.contact-form input,
.contact-form textarea {
  margin-top: 5px;
  padding: 7px 56px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-row label {
  width: 100px; /* adjust as needed */
  font-size: 14px;
}

.form-row input,
.form-row textarea {
  flex: 1;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 14px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.contact-section button {
    margin-top: 17px;
    padding: 10px 24px;
    background: #006d77;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    width: 147px;
    margin: 8px 10px;
    position: relative;
    left: 104px;
}
/* .contact-container{
    max-width: 600px;
} */

.contact-form textarea {
  resize: none;
  height: 80px;
}







/* footer-2 */
.footer-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}


.footer-logo img {
    height: 58px;
    margin-bottom: -14px;
}

.footer-cpy {
  font-size: 12px;
  color: #bbb;
}





















@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    /* 50%{
        transform: rotate(250deg);
    } */

    100%{
        transform: rotate(360deg);
    }
}