@media screen and (max-width:1299px) {
    .communication-cnt {
        padding: 71px;
    }
}


@media screen and (max-width:1024px) {
    .hero-img-wrap {
        height: auto;
    }

    img.hero-img {
        margin: auto;
        max-width: 189%;
        /* left: 30px; */
        right: 108px;
        top: 45px;
    }

    section#banner {
        padding: 80px 0px;
    }

    .benefit-cnt2 p {
        font-size: 17px;
    }

    .benefit-cnt2 h6 {
        font-size: 19px;
    }

    .box-2 p {
        font-size: 12px;
    }

    .sub-heading {
        font-size: 19px;
    }

    .feature-card p {
        font-size: 16px;
    }

    .school-img img {
        margin: auto;
        max-width: 115%;
    }

    .view-tag {
        padding: 11px 18px;
        position: relative;
        left: 27vh;
        bottom: 11vh;
    }

    h2.headline-2 {
        font-size: 33px;
    }

    .work-img img {
        max-width: 100%;
        margin-left: -40px;
    }

    .work-text h5 {
        font-size: 19px;
    }

    .work-text p {
        font-size: 15px;
    }

    .dwnld-btn {
        margin-left: 45vh;
    }

    .slide-items span {
        font-size: 21px;
    }

    .slide-items p {
        font-size: 16px;
    }

    .comtro-cnt h2 {
        font-size: 27px;
    }

    .comtro-desc {
        font-size: 16px;
    }

    .demerit-cnt p {
        font-size: 16px;
    }

    .demerit-cnt h5 {
        font-size: 20px;
    }

    .splash-mockup img {
        margin-top: -77px;
        width: 143%;
    }

    .comtro-cnt {
        height: auto;
    }

    .ftr-desc h3 {
        font-size: 25px;
    }

    .ftr-desc p {
        font-size: 15px;
    }

    .call-info span {
        font-size: 15px;
    }

    .footer-media p {
        font-size: 14px;
    }

    .footer-nav p {
        font-size: 14px;
    }

    .footer-nav a {
        font-size: 14px;
    }

    .contact-form {
        padding-top: 130px;
    }
}





@media screen and (max-width:992px) {
    img.hero-img {
        padding: -7px;
        top: 39px;
        /* right: 34px; */
        left: -145px;
        width: 190%;
    }

    section#banner {
        padding: 57px 10px;
    }

    .hero-img-wrap {
        height: auto;
    }

    .school-img img {
        margin: auto;
        max-width: 116%;
    }

    .view-tag {
        left: 262px;
        padding: 10px 10px;
        bottom: 97px;
    }

    h2.headline-2 {
        font-size: 34px;
    }

    .work-img img {
        margin: auto;
        max-width: 113%;
        margin-left: -81px;
    }

    .work-cnt h2 {
        font-size: 22px;
    }
}







@media screen and (max-width:768px) {
    .slick-dots li button:before {
        outline: none;
        display: none;
    }

    .header-nav .desktop-nav {
        display: none;
    }

    .header-nav .mob-nav {
        display: none;
    }


    .hero {
        display: block;
        /* stack text above image */
        text-align: center;
        padding: 77px 20px;
        height: auto;
    }

    .hero h1 {
        font-size: 45px;
    }

    .slide-items {
        margin-bottom: 68px;
    }

    #banner {
        padding-top: 60px;
        /* extra space from top */
    }

    .hero {
        font-size: 16px;
    }

    .demo-btn {
        padding: 13px 18px;
    }

    a.demo-btn {
        font-size: 15px;
    }

    a.start-btn {
        padding: 13px 23px;
        font-size: 14px;
    }

    .hero-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img.hero-img {
        /* max-width: 148%; */
        /* position: static; */
        top: auto;
        right: 186px;
    }

    .benefit-heading h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }

    .benefit-cnt2 h6 {
        font-size: 16px;
    }

    .benefit-cnt2 p {
        font-size: 14px;
    }

    .benefit-images {
        margin-left: 80px;
        padding-bottom: 66px;
    }

    #benefit {
        padding: 107px 0px 1px 25px;
    }

    .about-cnt {
        margin-bottom: 43px;
    }

    .box-1 {
        padding: 13px 19px;
        top: -36px;
    }

    .box-2 {
        padding: 11px 19px 0px 13px;
        top: 94px;
        left: 161px;
    }

    .box-3 img {
        width: 25%;
    }

    .box-3 {
        padding: 8px 14px;
        width: fit-content;
        bottom: 10px;
        left: -38px;
    }

    section#about {
        padding: 30px 0px;
    }

    span.sub-heading {
        font-size: 16px;
    }

    p.about-desc {
        /* text-align: center; */
        font-size: 15px;
        line-height: 24px;
    }

    .feature-btn {
        width: fit-content;
    }


    .about-cnt {
        gap: 18px;
    }

    .enquire-btn {
        padding: 11px 22px;
        font-size: 14px;
    }

    #experience .feature-box.top {
        top: 10%;
        left: 29%;
        /* z-index: 1; */
    }

    #experience .feature-box.right {
        top: 25%;
        right: 10%;
    }
    #experience .feature-box.bottom {
    bottom: 15%;
    left: 32%;
}

    .features-left {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
        margin-bottom: 30px;
    }

    .school-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#communication-comtro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .communication-cnt {
        padding: 0;
    }

    .cta-buttons {
        display: block;
        padding: 24px;
    }

    .more-btn {
        padding: 15px 30px;
    }

    .watch-btn {
        padding: 13px 23px;
    }

    .communication-cnt p {

        max-width: none;
    }

    .comtro-tag h1 {
        font-size: 90px;

    }

    img.comtro-speaker {
        width: 55%;
    }

    .work-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 103px;
        /* margin-right: px; */
    }

    .dwnld-btn {
        margin-left: 200px;
    }

    .footer-nav {
        margin-left: 0;
    }

    i.fa-solid.fa-location-dot {
        margin: 0;
        margin-top: 0;
    }

    .enquire-btn {
        margin-left: 191px;
    }

    .contact-btn {
        display: none;
    }

    .header-nav .toggled .mob-nav {
        display: flex !important;
    }

    .toggle-bt {
        display: flex;
        z-index: 100;
    }

}

@media screen and (max-width:575px) {
    .school-img img {
        width: 100%;
    }

    .view-tag {
        padding: 10px;
    }

    .work-img img {
        margin: 0;
        max-width: 165%;
    }

    .dwnld-btn {
        margin-left: 162px;
    }

    a.feature-btn {
        width: fit-content;
    }
    #experience .feature-box.right {
    top: 24%;
    right: -1%;
}
.box-1,
    .box-2,
    .box-3 {
        display: none;
    }


}





@media screen and (max-width:430px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 15px;
    }

    a.demo-btn {
        font-size: 13px;
        padding: 11px 11px;
    }

    a.start-btn {
        padding: 8px 13px;
        font-size: 13px;
    }

    img.hero-img {
        margin: 0;
        max-width: 178%;
        /* left: -26px; */
        margin-left: 53px;
    }

    .hero-img-wrap {
        /* margin: 0; */
        height: auto;
    }

    

    img.comtro-speaker {
        width: 76%;
    }

    .benefit-heading h2 {
        font-size: 22px;
    }

    .benefit-images {
        padding-bottom: 44px;
    }

    .benefit-cnt2 h6 {
        font-size: 14px;
    }

    .benefit-cnt2 p {
        font-size: 12px;
    }

    h2.heading {
        font-size: 27px;
    }

    span.sub-heading {
        font-size: 14px;
    }

    p.about-desc {
        font-size: 13px;
    }

    .enquire-btn {
        margin-left: 139px;
    }

    .feature-text p {
        font-size: 14px
    }

    a.feature-btn {
        padding: 9px 11px;
        font-size: 13px;
        width: fit-content;
    }

    .school-img img {
        margin: auto;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .view-tag {
        display: none;
    }

    h2.headline-2 {
        font-size: 27px;
        line-height: 1.5;
    }

    .communication-cnt p {
        font-size: 13px;
    }

    a.more-btn {
        padding: 14px 19px;
        font-size: 14px;
    }

    a.watch-btn {
        padding: 10px 9px;
        font-size: 13px;
    }

    .comtro-tag h1 {
        font-size: 50px;
    }

    .work-img img {
        margin: auto;
        max-width: 140%;
        margin-left: 20px;
    }

    section#app-work {
        padding: 0;
    }

    .dwnld-btn {
        margin-left: 122px;
        padding: 9px 19px;
        font-size: 13px;
    }

    .comtro-cnt h2 {
        font-size: 22px;
    }

    p.comtro-desc {
        font-size: 15px;
    }

    span.comparison {
        font-size: 20px;
    }

    .demerit-cnt h5 {
        font-size: 18px;
    }

    .demerit-cnt p {
        font-size: 14px;
    }

    .ftr-desc p {
        font-size: 14px;
    }

    .copyright-text {
        font-size: 10px;
    }
    #experience .image-block img {
    max-width: 377px;
    left: 93px;
    top: 38px;
}
.feature-box{
    display: none;
}
.ply-btn{
    margin-bottom: 10px;
}
.store-buttons{
    display: block;
}
    .box-1,
    .box-2,
    .box-3 {
        display: none;
    }
}



@media screen and (max-width:376px) {

    .contact-btn {
        display: none;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 12px;
    }

    a.demo-btn {
        padding: 11px 13px;
        font-size: 12px;
    }

    a.start-btn {
        padding: 9px 17px;
        font-size: 12px;
    }

    /* img.hero-img {
        width: 211%;
        right: 150px;
    } */

    .hero-img-wrap {
        height: auto;
    }



    img.comtro-speaker {
        width: 84%;
        right: 30px;
        position: relative;
        bottom: 33px;
    }

    .benefit-heading h2 {
        font-size: 19px;
        /* text-align: center; */
    }

    .benefit-images {
        padding-bottom: 0;
    }

    .benefit-cnt2 {
        display: block;
    }

    .benefit-cnt2 p {
        font-size: 12px;
    }

    .benefit-cnt2 h6 {
        font-size: 14px;
    }

    .benefit-cnt2 img {
        width: 30px;
        margin-bottom: 17px;
    }

    h2.heading {
        font-size: 23px;
    }

    section#about {
        padding: 0px;
    }

    p.about-desc {
        font-size: 14px;
        line-height: 1.8;
    }

    span.sub-heading {
        font-size: 15px;
        font-weight: bold;
    }

    .enquire-btn {
        /* padding-left: 0; */
        margin-left: 0px;
    }

    .feature-text h2 {
        font-size: 23px;
    }

    .feature-text p {
        font-size: 14px;
    }

    a.feature-btn {
        padding: 9px 13px;
        font-size: 11px;
    }

    .feature-card h5 {
        font-size: 15px;
    }

    .feature-card p {
        font-size: 13px;
    }

    .icon-wrap {
        width: 34px;
        height: 34px;
    }

    .school-img img {
        margin: auto;
        max-width: 100%;
        margin-bottom: 42px;
    }

    .view-tag {
        display: none;
    }

    #communication-comtro {
        padding: 0;
    }

    h2.headline-2 {
        font-size: 23px;
        line-height: 1.5;
    }

    .communication-cnt p {
        font-size: 14px;
    }

    a.more-btn {
        padding: 12px 15px;
        font-size: 13px;
    }

    .watch-btn {
        padding: 10px 10px;
        font-size: 13px;
    }

    .comtro-tag h1 {
        font-size: 50px;
        letter-spacing: 19px;
    }

    .work-img img {
        margin: 0;
        max-width: 115%;
        margin-left: -56px;
        margin-top: -25px;
    }

    #app-work {
        padding: 20px;
    }

    .work-img {
        display: block;
    }

    .work-cnt h2 {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .work-text h5 {
        font-size: 15px;
    }

    .work-text p {
        font-size: 13px;
    }

    .dwnld-btn {
        padding: 8px 17px;
        font-size: 12px;
        margin-left: 119px;
        margin-top: -2px;
    }

    .screenshots h2 {
        font-size: 20px;
        padding-top: 47px;
    }

    img.slide-mockup {
        margin: 0;
        max-width: 70%;
    }

    .screenshots span {
        font-size: 14px;
    }

    .screenshots p {
        font-size: 13px;
    }

    /* .comtro-cnt {
        height: 113%;
    } */

    .comtro-cnt h2 {
        font-size: 23px;
        /* text-align: center; */
    }

    p.comtro-desc {
        font-size: 14px;
    }

    span.comparison {
        font-size: 16px;
    }

    .demerit-cnt h5 {
        font-size: 15px;
    }

    .demerit-cnt {
        font-size: 13px;
    }

    .dot {
        height: 6px;
        width: 6px;
    }

    .splash-mockup img {
        padding-top: 69px;
        margin-left: 10px;
        width: 126%;
    }

    .ftr-container {
        margin-top: 6px;
    }

    .ftr-desc h3 {
        font-size: 18px;
    }

    .ftr-desc p {
        font-size: 14px;
    }

    .call-info span {
        font-size: 13px;
    }

    .location-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 39px;
        width: 39px;
    }

    button.cta-btn {
        padding: 11px 9px;
        font-size: 11px;
    }

    p.footer-text {
        font-size: 13px;
    }

    .media-location p {
        font-size: 13px;
    }

    .footer-nav a {
        font-size: 13px;
    }

    .copyright-text {
        font-size: 10px;
    }

    .icons {
        padding: 3px 6px;
    }

    header {
        padding: 10px;
    }

    .slide-items span {
        font-size: 15px;
    }

    .slide-items p {
        font-size: 12px;
    }

    #experience h2 {
        font-size: 23px;
    }

    .dwnld-text p {
        font-size: 14px;
    }

    #experience .image-block img {

        margin: auto;
        max-width: 100%;
        left: 10%;
    }

    .store-buttons {
        display: flex;
        flex-direction: column;
    }

    .ply-btn {
        padding: 11px 15px;
    }

    .store-buttons a {
        font-size: 13px;
    }

    .ios-btn {
        padding: 11px 15px;
    }

    .feature-box {
        display: none;
    }

    .slick-dots li button:before {
        outline: none;
        display: none;
    }
    .about-img img{
        max-width: 100%;
    }
    #features{
        margin-top: 53px;
    }


}



@media screen and (min-width:768px) and (max-width:991px){

}

@media screen and (max-width:767px) {

}