* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  background: rgb(245, 245, 245);
}

/* loader */

/* loading */
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Bouncing dots */
.dots-loader {
  display: flex;
  gap: 8px;
}

.dots-loader span {
  width: 12px;
  height: 12px;
  background-color: rgb(33, 58, 107);
  border-radius: 50%;
  animation: bounce 0.6s ease-in-out infinite;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.1s;
}

.dots-loader span:nth-child(3) {
  animation-delay: 0.2s;
}

/* Bounce animation */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.dots-loader span {
  animation: bounce 1s ease-in-out infinite;
  /* previously 0.6s */
}

header {
  position: fixed;
  width: 100%;
  background: #0a373a00;
  z-index: 100;
  padding: 10px 0px;
}

nav {
  top: 0;
  position: sticky;
  z-index: 1000;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.header-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 253, 253, 0.8);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 7px 20px;
  backdrop-filter: blur(3px);
}


.talk-btn {
  background: rgba(35, 55, 80, 1);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 11px 22px;
  border-radius: 8px;
  transition: 0.3s;
}

.talk-btn:hover {
  background: rgb(33, 58, 107);
  transform: scale(1.05);
  border: none;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 5%;
  background-color: rgba(35, 55, 80, 1);
  margin-bottom: 74px;
  height: 100vh;
}

.name {

  font-weight: 500;
  color: #ffffff;
  font-size: 28px;

}

.underline-btn {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.underline-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 50%;
  background-color: #1a7b94;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.underline-btn:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.hero-cnt {
  /* margin-top: 109px; */
  padding-top: 125px;
}

.hero-cnt h1 {
  text-align: left;
}

.hero-image {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.hero-content p {
  flex: 1;
  max-width: 600px;
}

.hero-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #b7c6d3;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  /* line-height: 1.3; */
  /* margin-bottom: 1.2rem; */
  color: #a5aec5;
}

.hero-content span {
  color: #e8e8e8;
}

.hero-content p {
  /* font-size: 0.95rem; */
  color: #d0d8e0;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  font-size: 17px;
}

a.btn-secondary {
  text-decoration: none;
  color: rgba(35, 55, 80, 1);
  background: rgba(186, 198, 213, 1);
  padding: 13px 40px;
  border-radius: 8px;
  /* width: 63px; */
  height: 50px;
  transition: 0.3s;

}

a.btn-secondary:hover {
  background: rgb(165, 189, 215);
  transform: scale(1.05);

}

.hero-buttons {
  display: flex;
  gap: 17px;
}

a.btn-outline {
  text-decoration: none;
  color: rgba(186, 198, 213, 1);
  border: solid 1px rgba(186, 198, 213, 1);
  padding: 13px 18px;
  border-radius: 8px;
  transition: 0.3s;
}

a.btn-outline:hover {
  transform: scale(1.05);
  color: rgb(47, 77, 114);
  background: rgba(186, 198, 213, 1);

}



/* about */
.btn-primary {
  background-color: rgba(62, 93, 132, 1);
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  padding: 11px 10px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #162d43;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}

.social-icons .btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-icons .btn:hover {
  background-color: #1e3b58;
  color: #ffffff;
  box-shadow: 0px 6px 16px rgb(50, 49, 49);


}

.about-cnt {
  padding: 79px 10px;
  background: white;
  box-shadow: 0px 6px 16px rgba(115, 115, 115, 0.25);
}

.about-me h3 {
  font-weight: 600;
  color: rgba(35, 55, 80, 1);
}

#about {
  margin-bottom: 69px;
}

/* .about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
} */



.text-primary {
  color: #1e3b58 !important;
}

/* digital tools */

.tool-box {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 149px;
  background: rgb(238 247 255 / 43%);
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgb(46 46 46 / 25%);
  transition: all 0.3s ease;
  border: solid 2px rgb(255 255 255);
}

.tool-sectn p {
  color: rgb(29, 28, 28);
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;

}

.text-muted {
  margin-bottom: 100px;
}

.tool-sectn {
  max-width: 1078px;
  margin: auto;
}

.tool-box:hover {
  transform: scale(1.08);
  background-color: rgb(51, 109, 133);
  box-shadow: 0px 4px 16px rgb(192, 192, 192);
}

.toolkit-section {
  margin-bottom: 60px;
}

/* service */

/* .service-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 1rem 13rem;
}

.Palatte {}

.Palatte p {
  max-width: 324px;
}

.bg-white {

  background: white;
  box-shadow: 0px 3px 14px rgba(77, 74, 74, 0.25);
  padding: 35px 70px;
  width: fit-content;
  max-height: 30vh;
  margin-bottom: 26px;
}

.bg-blue {
  padding: 35px 70px;
  width: fit-content;
  background: rgba(35, 56, 79, 1);
  box-shadow: 0px 3px 14px rgba(77, 74, 74, 0.25);
  max-height: 30vh
}

.bg-blue p {
  color: white;
}

.bg-blue h5 {
  color: white;
}

.bg-white img {
  padding-bottom: 13px;

}

.bg-blue img {
  padding-bottom: 13px;
}

#service {
  margin-bottom: 80px;
} */
.srvc-sectn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 154px;
  margin-bottom: 76px;
}

.service-box {
  max-width: 1000px;
  margin: auto;
}

.srvc-sectn h1 {
  background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-bg {
  background: linear-gradient(181deg, #ffffff8a, #00000045);
  padding: 2px 1px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.box-right {
  margin-top: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1f1d1d;
  border-radius: 10px;
  /* margin: 13px 85px; */
  background: #ffffffa3;
  /* background: linear-gradient(360deg, #061920 0%, #102229 100%); */
  box-shadow: 0px 10px 15px 0px #c5c5c54d;
}

.box p {
  max-width: 300px;
}

.box-desc {
  margin-top: 15px;
}

.box-desc h3 {
  font-weight: 600;
  color: rgb(52 52 52);
}

.srvc-img {
  margin-top: 10px;
}

.service-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#service {
  margin-bottom: 60px;
}


/* education */
.eduaction-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.knwldg-sctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 154px;
  margin-bottom: 76px;
}

.knwldg-sctn h1 {
  background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline-cnt {
  display: flex;
  flex-direction: column;
  color: rgb(4, 4, 4);
  margin-top: 19px;
}

.timeline-cnt p {
  font-size: 14px;
}

.rectangle-design {
  width: 46px;
  height: 46px;
  background-color: #0F2232;
  border-radius: 16px;
  /* margin-right: 20px; */
  position: relative;
  overflow: hidden;
  transform: rotate(45deg);
}

.rectangle-design::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  /* background: linear-gradient(125deg, #047291, #0b6d92, #081923, #0A131A, #062735); */
  mask-composite: exclude;
  border-radius: 8px;
  background: rgba(35, 55, 80, 1);
  border: solid 7px #dad8d8;
}

.timeline-sectn {
  background: rgb(255, 255, 255);
  max-width: 900px;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 35px;
  box-shadow: 0px 6px 16px rgba(115, 115, 115, 0.25);
}

.timeline-cnt h5 {
  font-weight: 600;
  color: #2e2e2e;
}

/* .timeline-sectn {
    background: rgb(29 115 139 / 14%);
    box-shadow: 0px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} */

.timeline-sectn span {
  color: rgb(5, 5, 5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
}

.dot {
  display: flex;
  justify-content: center;
  margin-top: 21px;

}

/* portfolio */

.portfolio-sectn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 154px;
  margin-bottom: 76px;
}

.portfolio-sectn h1 {
  background: linear-gradient(283deg, #FFFFFF, #8CB3BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .portfolio-items {
    max-width: 1005px;
    margin: auto;
} */
.portfolio-1 img {
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  border-radius: 15px;
  /* filter: grayscale(1); */
  object-fit: cover;
  object-position: center top;
}

.porfolio-heading p {
  text-align: center;
}

.portfolio-1 {
  overflow: hidden;
}

.portfolio-1 img {
  height: 500px;
  width: 100%;
  /* overflow: hidden; */
  filter: grayscale(1);
  transition: 1.5s ease;
}

.portfolio-1 img:hover {
  filter: grayscale(0);
  scale: 1.3;
  
}

.portfolio-items {
  margin-bottom: 87px;
}

/* .portfolio-1:hover{
    filter: grayscale(0);
    transform: scale(1.1);
} */



.explore-btn {
  /* position: relative; */
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  padding: 11px 36px;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1;
  /* border-radius: 31px; */
  background: rgb(59 88 119);
  margin-bottom: 50px;
  border-radius: 10px;
}

.explore-btn:hover {
  box-shadow: 0px 6px 16px rgb(164, 164, 164);
  transform: scale(1.08);
}


.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* digital */
#digital {
  padding: 8rem 6rem;
  background: rgba(35, 56, 79, 1);
  color: white;
}

.digitl-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digitl-cnt p {
  max-width: 549px;
  text-align: center;
  margin-bottom: 30px;
}

.digitl-cnt h2 {
  font-weight: 600;
}

.start-btn {
  text-decoration: none;
  color: rgba(35, 55, 80, 1);
  background: rgba(230, 232, 234, 1);
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease
}

.start-btn:hover {
  transform: scale(1.08);
  box-shadow: 0px 6px 16px rgb(30, 29, 29);

}

.project-hding {
  margin-bottom: 10px;
  text-align: center;
}

/* footer */

.footer-container {
  background: white;
  padding: 50px 50px;
  box-shadow: 0px 6px 16px rgba(193, 192, 192, 0.997);
  border-radius: 10px;
}

.ftr-hding {
  margin-bottom: 86px;
  color: #1e3b58;
}

.contact-info .icon-box {
  background-color: rgb(52 95 142);
  color: #fff;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.contact-info h6 {
  color: #0d3b47;
}

.contact-info p {
  color: #333;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}


.social-icons a {
  font-size: 1.3rem;
  color: #0d3b47;
  transition: all 0.5s ease;
}

.social-icons a:hover {
  color: #fdfdfd;
  background: #1e3b58;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0px 6px 16px rgb(187, 187, 187);
}

.contact-form .form-label {
  font-weight: 500;
  color: #333;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
}

.contact-form .form-control:focus {
  border-color: #4b9c94;
  box-shadow: none;
}

.btn-submit {
  background-color: rgba(35, 56, 79, 1);
  color: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  transition: 0.3s ease;
}

.btn-submit:hover {
  background-color: #498cad;
  color: #fff;
  transform: scale(1.08);

}

/* .info-item:hover{
  background: white;
  box-shadow: 0px 4px 16px rgb(211, 210, 210);
  width: fit-content;
  padding: 20px 20px;
  transform: scale(1.08);
}
.info-item{
 transition: all 0.3s ease;
} */


/* Second Footer */
.footer {
  background-color: #23384f21;
  color: #1d1d1d;
}

.footer-logo {
  font-weight: 700;
  font-size: 1.3rem;
}

.footer-logo .dot {
  color: #047c7c;
}

.footer-links a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 500;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #827e98;
}

.footer-divider {
  position: relative;
  background: linear-gradient(135deg, #9fc9c0, #7daea4);
  /* soft green tone */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer-divider::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
}

.footer-divider .overlay-text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.footer-divider h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}


/* portfolio work */
.work-heading {
  display: flex;
  justify-content: center;
  margin-top: 230px;
  margin-bottom: 100px;
}

.work-heading h1 {
  font-weight: 600;
  color: #0F2232;
}

/* Hide toggle button on desktop */
/* .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
} */

/* Toggle animation */
/* .menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger {
  display: none;
} */

/* type-writer */
.typewriter {
  font-size: 34px;
  color: #0C7C7C;
  font-weight: bold;
  margin-top: 60px;
  transform: translateY(-50%);
}


.typewriter span {
  color: rgb(209, 209, 209);
  text-transform: uppercase;
  padding: 10px;
  border-right: solid var(--text-color) 10px;
  animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
  from {
    border-color: var(--text-color);
  }

  to {
    border-color: transparent;
  }
}

.menu-toggle {
  position: fixed;
  top: 45px;
  right: 43px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 31px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3001;
}

.menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: transform 0.35s ease, opacity 0.25s ease, background 0.3s ease;
}

.menu-toggle.active span {
  background: #000;
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger{
  display: none;
}
@media (max-width: 991px) {
  .menu-toggle {
    display: flex;
  }
}

